html {
    height: 100%;
    width: 100%;
  
  }
  
  body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color:#eef0f2;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  #header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1rem;
    position: fixed;
    color: white
  }
  
  .container_image {
    height: auto;
  width: 150px;
    overflow: hidden;
  }
  
  #header-img {
    width: 100%;
    height: 100%;
  }
  
  #nav-bar {
    display: flex;
  }
  
  #nav-bar ul {
    display: flex;
    list-style: none;
  }
  
  .nav-link {
    margin-right: 30px;
    cursor: pointer;
    color:white;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  main {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  #video {
    padding: 1rem;
    margin-top: 5rem;
    border: -5px solid #dd1c1a;
  }
  
  #Portadas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: #141414;
    padding: 1rem;
    border-radius: 12px;
  }
  
  .imagen {
    width: 150px;
    height: 150px;
  
    
  }
  
  .discos {
    width: 100%;
    height: 100%;
    border: 2px solid #eef0f2;
    border-radius: 12px;
  }
  #Album{
    background-color:#0d21a1;
    color: #eec643;
    padding: 0.5rem 10rem;
    border-radius: 20px;
  }
  #Galeria_ropa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.5rem;
    
    padding: 0.4rem 0.5rem;
    
    
  }
  .container_informacion{
    padding: 1rem;
    background-color: #011638;
    border-radius: 12px
  }
  .imagen_ropa {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 3px solid #0d21a1;
      border-radius: 12px;
  
  }
  .prenda {
    width: 100%;
    height: 100%;
  
  }
  .Costo{
    text-align: center;
    color: #eec643;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  #Mas_informacion{
    background-color: #eec643;
  padding: 0.5rem 8rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
  }
  #Mas_informacion p{
    margin-top: -15px;
  }
  footer{
      width: 100%;
      height: 5rem;
      color: white;
      background-color: #141414;
  }
  .container_footer{
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: end;
      align-items: center;
  }
  @media screen and (max-width:420px) {
    #header{
      display: block;
      height: 10rem;
      width: 100%;
      
    }
  
    #nav-bar ul{
      display: block;
      padding: 0;
      margin: auto;
      margin-top: -20px;
    }
    .nav-link{
     display: flex;
      justify-content: center;
      padding-bottom: 0.7rem;
    }
    .container_image{
  margin: auto;
      width: 90%;
      margin-left: -1px;
      margin-top: -30px
       
    }
    .video{
      margin-top: 150px
    }
    #Portadas{
      grid-template-columns: repeat(1,1fr);
      grid-template: repeat(4,1fr);
      
    }
    .imagen{
      width: 90%;
      height: 90%;
      margin: auto;
        
    }
    
    #Galeria_ropa{
      grid-template-columns: repeat(1,1fr);
      
    }
  }